.tb {
    width: 250px;
    height: 50px;
    font-size: 25px;
}
button {
    height: 58px;
    width: 100px;
    padding-top: 10px;
    font-size: 15px;
    color: white;
    background-color: cornflowerblue;
    border-radius: 10%;
    margin-left: 10px;
}

button.edit { 
    background-color: yellow;
    color: black;
}